[program:reaper]

command={{ edxapp_venv_bin }}/python {{ edxapp_code_dir }}/manage.py lms --settings={{ EDXAPP_SETTINGS }} reaper

user={{ common_web_user }}
directory={{ edxapp_code_dir }}
{# preserve the newline after this for loop, otherwise we end up with an environment variable named "stdout_logfile", which we don't want #}
environment={% for name,value in edxapp_environment.items() %}{%- if value %}{{ name }}="{{ value }}"{%- endif %},{% endfor %}

stdout_logfile={{ supervisor_log_dir }}/%(program_name)s-stdout.log
stderr_logfile={{ supervisor_log_dir }}/%(program_name)s-stderr.log
killasgroup=true
stopasgroup=true
